@page "/AddToStocks"
@using static SharedParams.Parameters.SharedParameters

<div class="vh-100">
	<h2 class="text-center mb-5 text-decoration-underline">Ajout dans l'inventaire</h2>
	@* Étape 1 *@
	@if (CurrentStep == 1)
	{
		<div class="">
			<div class="d-flex flex-column justify-content-center gap-4 mb-4">
				<div class="form-check form-switch mb-4 d-flex justify-content-center">
					<input class="form-check-input" type="checkbox" role="switch" id="AddLot" @bind="isAddToALot">
					<label class="toggle" for="AddLot">
						<div class="glow-comp"></div>
						<div class="toggle-button"></div>
					</label>
					<label class="form-check-label" for="AddLot">Ajout d'un lot?</label>
				</div>

				@if(isAddToALot)
				{
					<div class="d-flex justify-content-center">
						<div class="form-floating mb-3">
							<input type="number" class="form-control" id="prixAchat" @bind="AddedLot.PrixDachat">
							<label for="prixAchat">Prix d'achat</label>
						</div>
					</div>
				}

			</div>

				<h4 class="text-center mb-4">Que veux tu ajouter?</h4>
				<div class="d-flex flex-row w-100 justify-content-center gap-4">
					<button class="btn btn-lg btn-outline-primary" @onclick='() => Step2((short)TypeObj.Games)'>Jeux / Software</button>
					<button class="btn btn-lg btn-outline-primary" @onclick='() => Step2((short)TypeObj.Hardware)'>Console / Hardware</button>
					<button class="btn btn-lg btn-outline-primary" @onclick='() => Step2((short)TypeObj.Other)'>Autre</button>
				</div>
		</div>
	}

	@* Étape 2 *@
	@if(CurrentStep == 2)
	{
		@if (SelectedObjToAdd.TypeObj == (short)TypeObj.Games)
		{
			@*Si le jeux est sélectionner on préremplis les inputs suivant sinon on attend le remplissage et on l'ajoute a la bd*@
			@*Fait toujours un ajout de ligne supplémentaire dans la table inventaire a cause des note sur 10 qui peuvent etre differentes.
			*@

			@* Nom du jeu *@
			<div class="mb-5">
				<BLNB_MAGames.Pages.Components.DropDeepSearch.DropDeepSearch _title="Quelle jeu cherche tu?" _hasGames=true OnChosenObject="SelectObj" OnFocusOutNoCoresponding="GetNewObjName">
				</BLNB_MAGames.Pages.Components.DropDeepSearch.DropDeepSearch>
			</div>

			<div class="d-flex flex-row justify-content-center gap-4">

				@* Marque *@
				<BLNB_MAGames.Pages.Components.Dropdown.Dropdown @key="SelectedObjToAdd"
					_lstObjects="allMarquesLst.Select(tv => new DropdownString { Id = tv.Id, Info = tv.Name }).ToList()" 
					_isRequired=true
					_chosenObject="@(SelectedObjToAdd.Id != 0 ? allMarquesLst.Where(x => x.Id == SelectedObjToAdd.MarqueId) : null)"
					_title="Marque"
					_hasSearchBar=true
					OnObjectSelected="GetNewObjMarque">
				</BLNB_MAGames.Pages.Components.Dropdown.Dropdown>

				@* Type de vente *@
				<BLNB_MAGames.Pages.Components.Dropdown.Dropdown @key="SelectedObjToAdd"
					_lstObjects="allTypeVenteLst.Select(tv => new DropdownString { Id = tv.Id, Info = tv.Name }).ToList()"
					_isRequired=true
					_chosenObject="@(SelectedObjToAdd.Id != 0 ? allTypeVenteLst.Where(x => x.Id == SelectedObjToAdd.SaleTypeId) : null)"
					_title="Console"
					_hasSearchBar=true
					OnObjectSelected="GetNewObjSaleType">
				</BLNB_MAGames.Pages.Components.Dropdown.Dropdown>

				@* Edition Special *@
				<div class="d-flex justify-content-center">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="edition" @bind="SelectedObjToAdd.Edition">
						<label for="prixAchat">Edition</label>
					</div>
				</div>
			</div>
		}
		else if (SelectedObjToAdd.TypeObj == (short)TypeObj.Hardware)
		{
			<BLNB_MAGames.Pages.Components.DropDeepSearch.DropDeepSearch _title="Que cherchez-vous?" _hasHardware=true OnChosenObject="SelectObj"></BLNB_MAGames.Pages.Components.DropDeepSearch.DropDeepSearch>
		}
		else
		{
			<BLNB_MAGames.Pages.Components.DropDeepSearch.DropDeepSearch _title="Que cherchez-vous?" _hasOther=true OnChosenObject="SelectObj"></BLNB_MAGames.Pages.Components.DropDeepSearch.DropDeepSearch>
		}
	}

	@* Étape 3 *@
	@if(CurrentStep == 3)
	{
		
	}
</div>



<style>

	/* Switch */
	.form-check {
		display: flex;
		align-items: center; /* Aligne le switch et le label au centre verticalement */
	}

	.form-check-input {
		display: none; /* Masquer l'input original */
	}

	.toggle {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 20px;
		border: 2px solid #444249;
		border-radius: 20px;
		cursor: pointer;
		transition: border-color 0.6s ease-out;
		margin-right: 10px; /* Espace entre le switch et le label */
	}

	.form-check-input:checked + .toggle {
		border-color: rgba(137, 194, 217, 0.4);
	}

	.toggle-button {
		position: absolute;
		top: 4px;
		width: 20px;
		bottom: 4px;
		right: 32px;
		background-color: #444249;
		border-radius: 19px;
		transition: all 0.3s;
	}

	.form-check-input:checked + .toggle .toggle-button {
		top: 4px;
		width: 48px;
		right: 4px;
		background-color: #89c2da;
		box-shadow: 0 0 16px #4b7a8d;
	}

</style>
