
@inject ApiService _apiService


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BLNB_MAGames</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GestionListes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Gestion des listes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddToStocks">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ajout a l'inventaire
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AllInventory/1">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Voir l'inventaire
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Inject]
    private ProfileStateService _profileStateService { get; set; }
    private string profilChoosen = "";

    protected override async Task OnInitializedAsync()
    {
        await _profileStateService.InitializeAsync();
        profilChoosen = _profileStateService.Profile;
    }

    private void UpdateProfile()
    {
        profilChoosen = _profileStateService.Profile;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _profileStateService.OnProfileChanged -= UpdateProfile;
    }
}